:root {
    --button-bg: #34495e;
    --button-hover: #1abc9c;
    --button-selected: #27ae60;
    --button-text-color: white;
}
input{
    border-radius: 50px;
}
h3{
    color: #34495e;
    font-size: 20px;
    font-weight: bold;}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #b8e1ec;
    overflow: auto;
}
h1, p ,h3{
    margin: 10px 0;
    font-family: cursive;
}
button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}
button.selected {
    background-color: var(--button-selected);
    box-shadow: 0 5px 15px rgba(39, 174, 96, 0.4);
}
#gameCanvas {
    display: block;
    margin: 20px auto;
    background: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    max-width: 100%;
    max-height: 90vh; /* Ensures the canvas is not too big */
}
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#snakeLength, #gameOverMessage {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
#pauseButton, #restartButton {
    padding: 10px 20px;
    font-size: 18px;
}